html {
	margin-top:0px;
	width:100%;

}


body {
	background-image:url(Triangle-White-Seamless-Patterns.jpg);
	background-repeat: all;
	height: auto;
	width: auto;

}

#header {
	background-image: url(logoBG.png);
	background-repeat: repeat-x;
	position:relative;
	margin-top:-15px;
	height:150px;
	width: 100%;
	padding: 0px;
}

img	{
	border:0;
	vertical-align: middle;
}

#logo {
	width:600px;
	height:auto;
	float:left;
}

#idiomas {
	position:absolute;
	right: 0px;
}

#idiomas a img {
	width: 50px;
	height: 50px;
}

nav {
	position: absolute;
	top:150px;
	display: block;
	background-color: black;
	width:100%;
	user-select: none;
 }

 .dropdown-menu {
 	display: none;
 }

 .hover-dropdown:hover .dropdown-menu {
 	display: block;
 }

 .dropdown-menu {
 	margin:0px;
 }

 .nav-link {
 	color:white;
 	font-weight:bolder;
 	text-decoration: none;
 }

a.nav-color {
	color: white;
}

a.nav-color:hover {
	color:purple;
	background-color: white;
}

.dropdown-option {
	display: none;
}
.icons {
	position: absolute;
	right:0px;
	top:0px;
}

.icon_img {
		vertical-align: middle;
		margin-top: 2px;
		margin-right: 5px;
  }

.main {
	position: absolute;
	top: 200px;
	width:100%;
}

#myCarousel {
	margin-left: auto;
	margin-right: auto;
	margin-top: -10px;
	width: 100%;
}

.carousel-indicators {
	bottom:-15px;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
  float: left;
  width: 33%;
  height: 10px;
  margin: 1px;
  border-radius: 0;
  border: 2px solid white;
  background: black;
}

ol.carousel-indicators li.active {
  background: rgba(120,40,120,0.95);
}

.carousel-item {
	width: 100%;
	height: 100%;
}

.carousel-control-prev {
	background-color: rgba(0,0,0,0.95);
	width: 8%;
}

.carousel-control-next{
	background-color: rgba(0,0,0,0.95);
	width: 8%;
}

.carousel-caption {
	position: absolute;
	font-family:Tahoma, Geneva, sans-serif;
	padding:2%;
	bottom: -5px;
}

#slide01-heading {
	text-align: center;
	background-color: rgba(240,240,240,1);
	width: 32%;
	color:black;
	padding: 1%;
}

#slide01-par1 {
	text-align: center;
	background-color: rgba(240,240,240,1);
	padding:1px;
	width: auto;
	color:black;
	margin:1px;

}

#slide01-par2 {
	text-align: center;
	background-color: rgba(240,240,240,1);
	padding:1px;
	width: auto;
	color:black;
	margin:1px;
}

#slide02-heading {
	text-align: center;
	background-color: rgba(240,240,240,1);
	width: 32%;
	color:black;
	padding: 1%;
}

#slide02-par1 {
	text-align: center;
	background-color: rgba(240,240,240,1);
	padding:1px;
	width: auto;
	color:black;
	margin:1px;

}

#slide02-par2 {
	text-align: center;
	background-color: rgba(240,240,240,1);
	padding:1px;
	width: auto;
	color:black;
	margin:1px;
}

#slide03-heading {
	text-align: center;
	background-color: rgba(240,240,240,1);
	width: 32%;
	color:black;
	padding: 1%;
}

#slide03-par1 {
	text-align: center;
	background-color: rgba(240,240,240,1);
	padding:1px;
	width: auto;
	color:black;
	margin:1px;

}

#slide03-par2 {
	text-align: center;
	background-color: rgba(240,240,240,1);
	padding:1px;
	width: auto;
	color:black;
	margin:1px;
}

#content {
	width:100%;
}

.card {
	width:100%;
}

.card-header {
	background-color: #448eba;
	color:black;
	border:1px solid;
	user-select: none;
	height: 50px;
	width:100%;
}

#card-header-text {
	color:white;
	font-weight: bold;
	text-align: left;
	text-shadow: 2px 2px black;

}

#cont-news {
	padding:50%:;
	width: 50%;
	float:left;
}

#middle {
	position:absolute;
	top:450px;
	width:100%;
	z-index: 2;
}

#form-card {
	float:left;
	width: 45%;
	background-color: black	;
	color:white;
	text-align: center;
	margin:1px;
	padding: 5px 0px;
}

.form-row {
	padding: 0px 25px;
}

.form-control {
	border:0;
}

#submit-row {
}

#knowmore {
	margin-top:5px;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size:28px;

}

.btn {
	margin-left:85%;

}

hr {
	background-color: white;
	width: 90%;
	height:2px;
}

#accordion {
	position: relative;
	width:100%;
	height: auto;
	z-index: 3;
}

.card-body {
	border:2px solid #d1d1d1;

}

.readmore {
	color:black;
	text-align: right;
	text-shadow: none;
	position: absolute;
	right:3px;
	font-size:11px;
}

.plus {
	border:1px solid #d1d1d1;
	padding:2px;
	font-size: 22px;
	text-align: center;
	line-height: 17px;
}

.bottom {
	background-color: lightgrey;
	color: white;
	display: block;
	height: 300px;
	width:100%;
	position:absolute;
	bottom:0px;
	z-index: -1;
}


footer {
	position: absolute;
	bottom:-500px;
	left:0px;
	margin:0px;
	padding:0px 2px;
	height:500px;
	width:100%;
	z-index: 0;
}

.container-copyright {
	background: rgba(50,50,50,0.7);
	width:70px;
	height:auto;
	position: absolute;
	bottom: 0px;
	width: inherit;
	z-index: 1;
}

#copyright {
	text-align: center;

}

#ubicacion-text-heading {
	color:purple;

}

#ubicacion-text {
	color:black;
	font-size: 18px;
	font-weight: bold;

}